#tab {
  width: 60%;

  margin: auto;
  box-shadow: 0 0 10px 2px darkgray;
  border-radius: 3px;
  overflow: hidden;/*父元素影响子元素圆角*/
}
.el-container{
  background-color: #C0C4CC;
  color: #000000;

}
.el-aside {
  background-color: #909399;
  text-align: center;
  line-height: 60px;
}

.el-header, .el-footer {
  text-align: center;
  line-height: 60px;
}
.el-header {
  background-color: #303133;
  color: #FFFFFF;
}


